### Visual Code ###
.vscode/


### System Files ###

# General
.DS_Store


### C ###

# Object files
*.o
*.obj

# Libraries
*.lib
*.a


# EXECUTABLES
*.exe
*.out
# minitalk
client
server
# so_long
so_long
# push_swap
push_swap

# Compile Results
*.cmd
*.tmp
.tmp_versions/
