### Visual Code ###
.vscode/


### System Files ###

# General
.DS_Store


### C ###

# Object files
*.o
*.obj

# Libraries
*.lib
*.a


# EXECUTABLES
*.exe
*.out
# minitalk
client
server
# so_long
so_long
# push_swap
push_swap
./Push-Swap-Tester
push_swap_test_linux copy.sh
traces.txt

# Compile Results
*.cmd
*.tmp
.tmp_versions/
